{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/bootstrap-table/1.9.1/bootstrap-table.min.css" rel="stylesheet"/>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
 <script src="{% static 'assets/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js' %}"></script>
    <script src="{% static 'assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js' %}"></script>
<script src="http://cdn.bootcss.com/bootstrap-table/1.9.1/locale/bootstrap-table-zh-CN.min.js"></script>
     <script src="http://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
{#    <script src="http://issues.wenzhixin.net.cn/bootstrap-table/ga.js"></script>#}
    <script>
        $(function () {
            $('#toolbar').find('select').change(function () {
                $('#tab').bootstrapTable('destroy').bootstrapTable({
                    exportDataType: $(this).val()
                });
            });
          $("#tab").bootstrapTable({
              url:'product',
              toggle:'table',
              pagination:'true',
              search:'true',
              showRefresh:'true',
              showColumns:'true',
              showExport:'true',
              toolbar:'toolbar',
              clickToSelect:'true',
             columns:[{
                 field:'state',
                 checkbox:'true',
             },{
                 field:'galleryurl',
                 title:'IMAGE',
             },{
                 field:'title',
                 title:"TITLE",
                 sortable:'true',
             },{
                 field:'location',
                 title:'LOCATION',
                 sortable:'true',
             },{
                 field:'startttime',
                 title:'STARTTIME',
                 sortable:'true',
             },{
                 field:'quantitysold',
                 title:'SOLD',
                 sortable:'true',
             },{
                 field:'currentprice',
                 title:'PRICE',
                 sortable:'true',
             },{
                 field:'currency',
                 title:'CURRENCY',
                 sortable:'true',
             },{
                 field:'kw',
                 title:'KeyWords',
                 sortable:'true',
             },{
                 field:'curdate',
                 title:'CreatedDate',
                 sortable:'true',
             },{
                 field:'operate',
                 title:'OPERATE',
             },]
          });

        });
    </script>

</head>
<body>
<span class="container">
<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MetaPro</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="../table">KeyWords <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Products</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Owner <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="sxb" id="sxb">ShangXianBei</a></li>
              <li role="separator" class="divider"></li>
            <li><a href="../wq">WuQiong</a></li>
              <li role="separator" class="divider"></li>
            <li><a href="../chy">ChenhaiYue</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../ysl">YangShuLin</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="../ymm">YangManMan</a></li>
              <li role="separator" class="divider"></li>
            <li><a href="../sxz">SongXianZhong</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Setting</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Singin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</span>
    <div class="container container-table">
    <div class="row vertical-center-row">
    <div class="panel   panel-primary">
    <div class="panel-heading"></div>

        <div class="container">
        <h1>Export</h1>
        <div id="toolbar" class="btn-group">
            <select class="form-control">
                <option value="">Export Basic</option>
                <option value="all">Export All</option>
                <option value="selected">Export Selected</option>
            </select>
        </div>
             
            <table id="tab"></table>
{#    <table id="tab" data-toggle="table"   data-toolbar="#toolbar"  data-url="product" data-pagination=true data-search=true data-click-to-select="true" data-show-export="true">#}
{#            <thead>#}
{#        <tr class="primary">#}
{#            <th data-field="state" data-checkbox="true"></th>#}
{#            <th data-field="galleryurl" >IMAGE</th>#}
{#            <th data-field="title"  data-sortable="true" >TITLE</th>#}
{#            <th data-field="location" data-sortable="true" >LOCATION</th>#}
{#            <th data-field="startttime" data-sortable="true" >STARTTIME</th>#}
{#            <th data-field="quantitysold" data-sortable="true" >SOLD</th>#}
{#            <th data-field="currentprice" data-sortable="true" >PRICE</th>#}
{#            <th data-field="currency" data-sortable="true" >CURRENCY</th>#}
{#            <th data-field="kw" data-sortable="true" >KEYWORDS</th>#}
{#            <th data-field="curdate" data-sortable="true" >CREATEDDATE</th>#}
{##}
{##}
{#        </tr>#}
    </thead>
</table>
</div>
</div>
    </div>

  </div>

</div>

</body>
</html>